<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleJetPackComposeApp"
        tools:targetApi="31">
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.SampleJetPackComposeApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModifierCompose"
            android:exported="true"
            android:label="@string/title_activity_modifier_compose"
            android:theme="@style/Theme.SampleJetPackComposeApp"></activity>
        <activity
            android:name=".StateHoistingActivity"
            android:exported="true"
            android:label="@string/title_activity_state_hoisting"
            android:theme="@style/Theme.SampleJetPackComposeApp"></activity>
        <activity
            android:name=".practice.ComposePractice"
            android:exported="true">

        </activity>
        <activity
            android:name=".ComposeLayoutBasicsActivity"
            android:exported="true" />
        <activity
            android:name=".ComposeVMSample"
            android:exported="true"></activity>
        <activity
            android:name=".ComposeStateActivity"
            android:exported="true"></activity>
        <activity
            android:name=".RowColumnDemoActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SampleJetPackComposeApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>